.news_page_saved-news {
  padding-top: 62px;
  padding-bottom: 62px;  
}

@media screen and (max-width: 768px) {
  .news_page_saved-news {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}


@media screen and (max-width: 650px) {
  .news_page_saved-news {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}